:host {
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;

  .mat-form-field {
    margin-top: 1em;
    width: 100%;
  }
  .btn-sec {
    margin-top: 1em;
    text-align: right;
  }
  .Update-btn {
    margin: 5px;
  }
  .Discard-btn {
    margin: 5px;
  }
}
